# SQL Part 3 Studio

### Let's practice your SQL quering skills!  For each question, work along in the notebook adding your query and answering the questions. 

### **DataSet**

### <span style="font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, sans-serif;">We will be using the Goodbooks-10k dataset from the exercises in the prep work.&nbsp; Feel free reference your previous notebooks.</span>

- The dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k)
- You can access the **BooksDB** in the Launchcode server.

### **Business Issue**

You are an employee at a small independet bookstore and you have been tasked to increase sales.  You decide to use the BooksDB to find books and themes to highlight in fun promotions throughout each month / season.  We will be starting with March and then you will have a chance to explore another month of your choosing.  We want to come up with a list of events/ promotions to run each month.  If you are looking for ideas to include in your promotions:

- [https://www.calendarr.com/united-states/calendar-2022/](https://www.calendarr.com/united-states/calendar-2022/)
- [https://www.holidayinsights.com/moreholidays/](https://www.holidayinsights.com/moreholidays/)
    - Click on a month and it will take you to a more detailed page

## Part 1:  March - Women's History Month, Dr Seuss Day(3/2), National Pie Day3/14, St Patrick's Day (3/17), Season - Spring

### **Event 1:** Women's History Month

Goal: Highlight Popular Womans Authors based on ratings from the Good Reads DB.

### **Write a query that returns tag\_id, the number of times each tag\_id is used and the tag\_name.**  

### Use the GROUP BY and HAVING clause to narrow your focus.

Try multiple keywords, ie woman vs female (female ended up giving better results)

In [4]:
SELECT b.authors ,ta.tag_id ,COUNT (ta.tag_id) number_of_tag_id,ta.tag_name
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.tags AS ta
ON b.best_book_id=ta.tag_id
GROUP BY ta.tag_id
HAVING b.authors ="F"
ORDER BY tag_id

: Msg 207, Level 16, State 1, Line 6
Invalid column name 'F'.

: Msg 8121, Level 16, State 1, Line 6
Column 'BooksDB.dbo.books.authors' is invalid in the HAVING clause because it is not contained in either an aggregate function or the GROUP BY clause.

### **Which keyword(s) and tag(s) would you like to explore more?**

Double click to edit.

### **Write a query to return authors, titles, ratings and** **selected tag(s)\_id.**

In [ ]:
-- Solution

### **Record your thoughts about why you wrote the query the way you did.**

# Part 2: Choose Another Month

Choose another month and plan at least 2 events / promotions and answer the following questions.

Which month did you choose?  

What 2 events / promotions are you highlighting?

> 1.

> 2.

# Part 3: Summarize your Work

For each event write at least one query that joins any two tables in the BooksDB to support your choice and record you thoughts as to why you used the paticlular query. At least one of your queries needs to include a HAVING clause.

In [ ]:
-- Event 1 Query

### **Summary of event 1:**

Double Click to edit.

In [ ]:
-- Event 2 Query

### **Summary of event 2:**

Double Click to edit.